*{margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	padding:0px;
	border-bottom: 1px solid #000000;
	background-color: #8888ff;
}

header h2 {
	color: #ffffff;
}

header small {
	color: #dddddd;
}

header img{
	top:0px;
	left:0px;
	position: absolute;
	width: 80px;
}

.page-header{
	margin: 0px;
	border-bottom: 0px;
	text-align: center;
}

.navbar{
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #337ab7;
}
	
#kon{
	padding:0px;
	margin:0px;
	background-color: #196587;
}
	
#kon div{
	padding: 0px 1px 0px 1px;
	margin: 0px;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

#kon div div{
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

	
.bar {
	padding: 0px;
	background-color: #337ab7;
}

.s{
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	background-color: #337ab7;
	border-color: #2e6ad4;
	border-radius: 5px;
	height: 50px;
	text-align: center;
	display: table;
	width: 100%;
}

.s span {
	display: table-cell;
	vertical-align: middle;
}

.s :hover{
	background-color: #115895;
	cursor: pointer;
}

.navi{
	margin:10px 0px; 
	border-width: 1px;
	border-style: solid;
	border-radius:5px;
	padding:10px;
}

.navi li {
	border: 1px solid;
	padding: 1px;
	border-radius: 2px;
	background-color: #eeeeee;
	display: block;
	list-style-type:none;
	cursor:pointer;
}

.navi > p{
	border-bottom: 1px solid #000000;
}

.navi li:hover {
	background-color: #ffffff;
}

.navi  li  li {
	background-color: #dddddd;
	display: none;
}

.navi li li li{
	background-color: #eeeeee;
	display: none;
}

.navi li li li  a{
	display:block;
	cursor:pointer;
}

.nav div{
	width:100%;
}
.not{
	margin:10px 0px; 
	border:0px;
	border-radius: 10px;
	padding:10px;
	padding-top:10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}

.not img{
	height:100px;
	width:100px;
}

.predmet{
	padding:1px 10px;
	background-color: #f5f5f5;
	border:0px;
	margin: 10px 0px;
	border-radius: 10px;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	
}

.vsebina{
	margin:10px;
	background-color: #e0e0e0;
	border-radius:10px;
	padding:1px 10px;
	border-bottom: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
}

.vsebina h3{
	border-bottom: 1px solid #b0b0b0;
}

.predmet h2{
	border-bottom: 1px solid #d0d0d0;
}

.but{
	margin-bottom: 10px;
	padding:4px;
	text-align:center;
	color:#ffffff;
	width:10%;
	background-color: #337ab7;
	border-radius:3px;
	border:1px solid #88a8d7;
	cursor:pointer;
	width:70px;
}

.but:hover{
	background-color: #133a57;
}

.map{
	border:0px;
	width:100%;
	height:350px;
}

.gone{
	display:none;
}

.dodajOdstranni{
	position:fixed;
	overflow-y: auto;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000000;
	padding:10px;
	opacity:1;
}

.dodajOdstranni>div{
	background-color:#ffffff;
	border-radius:10px;
	padding: 10px;
	padding-bottom:40px;
}

.dodajOdstranni li{
	border-radius:5px;
	background-color:#efefef;
	border:1px solid #000000;
}

.dodajOdstranni h3{
	border-bottom:1px solid #000000;
}

#list li{
	list-style-type:none;
}

.close{
	border:1px solid #aa0000;
	background-color:#ff0000;
	color:#ffffff;
	float:right;
	border-radius:2px;
	padding:5px;
	cursor:pointer;
}

.right{
	float:right;
}

#spremeniB textarea{
	width:100%;
}

.domaca{
	background-color:#234a67;
}

.left{
	float:left;
}

.fix{
	clear: both;
}