*{margin: 0px;
	padding: 0px;
}

header {
	padding:10px;
	border-bottom: 1px solid #000000;
	background-color: #8888ff;
}

header h2 {
	color: #ffffff;
}

header small {
	color: #dddddd;
}

header h2 {
	color: #ffffff;
}

header img{
	position: absolute;
	width: 80px;
}

.page-header{
	margin: 0px;
	border-bottom: 0px;
	text-align: center;
}

.navbar{
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #337ab7;
}
	
#kon{
	padding:0px 1px;
	margin:0px;
	background-color: #196587;
}
	
#kon div{
	padding: 0px 0px 0px 0px;
	margin: 0px;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
	
.bar {
	padding: 0px;
	background-color: #337ab7;
}

.s{
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	background-color: #337ab7;
	border-color: #2e6ada4;
	border-radius: 5px;
	height: 50px;
	text-align: center;
	display: table;
	width: 100%;
}

.s span {
	display: table-cell;
	vertical-align: middle;
}

.s :hover{
	background-color: #115895;
	cursor: pointer;
}

.navi{
	margin:0px; 
	border-width: 1px;
	border-style: solid;
	padding:5px;
}

.navi li {
	border: 1px solid;
	padding: 1px;
	border-radius: 2px;
	background-color: #e0e0e0;
	display: box;
	list-style-type:none;
}

.navi li:hover {
	background-color: #ffffff;
}

.navi li li {
	background-color: #d0d0d0;
	display: none;
}

.navi li li li{
	background-color: #ffffff;
	display: none;
}

.navi li li li  a{
	background-color: #ffffff;
	display:block;
}

.not{
	border:0px;
	padding:10px;
}